/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.4s ease-out forwards;
}

/* Inputs de Matriz GIGANTES para la pestaña Entrada */
.matrix-input-lg {
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 0.75rem;
    transition: all 0.2s;
    outline: none;
}

.matrix-input-lg:focus {
    border-color: #000000;
    box-shadow: 0 0 0 4px rgba(77, 77, 77, 0.2);
    background-color: #020617;
}

/* Chips de Ejemplos */
.chip {
    padding: 0.75rem 1.5rem;
    background-color: #1e293b;
    color: #94a3b8;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    transition: all 0.2s;
}

.chip:hover {
    background-color: #334155;
    color: white;
    border-color: #181719;
    transform: translateY(-2px);
}

/* Estilo para el Gráfico SVG */
svg text {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

